body{
    background-color:mintcream;
}

.loginBoxPos{
    padding-top: 10%;
}

.loginBoxSettings{
    color: aliceblue;
    filter: drop-shadow(0 0 20px #333);
    background-color: rgb(65, 61, 61);
    border-radius: 15px;
    margin: auto;
    width: 40%;
    padding: 70px 0;
    border: 3px solid rgb(65, 61, 61);
}

  .loginTitle{
      font-size: 5vh;
      text-align: center;
  }

  .loginLabel{
      font-size: 3vh;
      padding-left: 3vh;
  }

  .loginHelpText{
    padding-left: 3vh;
  }

  .loginInputButton{
    display:block;
    margin: auto;
    width: 90%;
    font-size: 18px;
  }
.helpButton{
    padding-left: 3vh;
}
  .help {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

  /* Modal Content */
.helpContent{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.6s;
    animation-name: animatetop;
    animation-duration: 0.6s
  }
  .helpVideo{
    margin: auto;
    padding: 70px 0;
    width: 100%;
     height: 240px
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .button {
    background-color: #4f57c0; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
  }

  @media screen and (max-width: 760px) {
    .loginBoxSettings{
      color: aliceblue;
      filter: none;
      background-color: rgb(65, 61, 61);
      border-radius: 15px;
      width: 100%;
      padding: 70px 0;
      border: 3px solid rgb(65, 61, 61);
  }
  .helpContent{
    width: 100%;
    padding: 0px;
  }

  .loginBoxPos{
    padding-top: 20%;
  }

  body{
    background-color: rgb(65, 61, 61);
  }
  
}
