.background{
    /* The image used */
    background-image: url("img/background1.jpg");

    /* Full height */
    height: 100%; 
    width: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.centerPos{
  padding-top: 10%;
  padding-left: 40%;
}

.centerPosClass{
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 20%;
}

.login{
  color: aliceblue;
  filter: drop-shadow(0 0 30px #333);
  background-color: rgb(65, 61, 61);
  border-radius: 25px;
  width: 14em;
  height: 10em;
  padding: 70px 0;
  border: 3px solid rgb(65, 61, 61);
}

.loginCenter{
  text-align: center;
}

.loginleft{
  padding-left: 1.5em;
}

.loginButton{
  width: 75%;
  height: 25%;
}

.navBarTitle{
  color:  aliceblue;
  padding: 14px 16px;

}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 3px solid  rgb(65, 61, 61);;
  filter: drop-shadow(0 0 30px #333);
  background-color: rgb(65, 61, 61);
  border-radius: 10px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding-top: 1.9em;
  margin-left: 3em;
  text-decoration: none;
  size: 7em;
  width: 10em;
  height: 3em;
}

li a:hover {
  background-color: #111;
}

.classAddStyle{
  visibility: hidden;
}
.classPosts{
  border: 3px solid rgba(255, 255, 255, 0.911);
  border-radius: 10px;
  color: black;
  background-color: rgba(255, 255, 255, 0.911);
  filter: drop-shadow(0 0 30px #333);
}

.expandButton{
  float: right;
}

.hidePost{
  display: none;
}

.classTitle{
  font-size: 2em;
}

.classPostTitle{
  color: #111;
  font-size: 1.3em;
}

.classPostDescription{
  color: #111;
  font-size: 0.85em;
}

.classPostDownloadable{
  color: #111;
  font-size: 0.8em;
}

.outOfOrder{
  font-size: 8em;
  padding-left: 30%;
}

.displayInline{
  display:inline-block
}

/* */