/* The background for every page is set to a mintcream color */
body{
  background-color:#f5fffa;
}

/* Login page form position settings when displayed on PCs*/
.loginBoxPos{
  padding-top: 10%;
}

/* Login page form settings when displayed on PCs*/
.loginBoxSettings{
  color: aliceblue;
  filter: drop-shadow(0 0 20px #333);
  background-color: rgb(65, 61, 61);
  border-radius: 15px;
  margin: auto;
  width: 40%;
  padding: 70px 0;
  border: 3px solid rgb(65, 61, 61);
}
/* login Title settings */
.loginTitle{
    font-size: 5vh;
    text-align: center;
}
/* login label settings */
.loginLabel{
  padding-left: 3vh;
}

/* login help test settings */
.loginHelpText{
  padding-left: 3vh;
}

/* login input button settings*/
.inputButton{
  display:block;
  margin: auto;
  width: 90%;
  font-size: 18px;
}

/*logout input button settings*/
.loginButton{
  background-color: #4f57c0; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  height: 6vh;
  margin: auto;
}

/*login rejection settings */
.loginRejectStyle{
  margin-top: 20%;
  border: 3px solid rgba(224, 82, 82, 0.911);
  border-radius: 10px;
  color: black;
  background-color: rgba(224, 82, 82, 0.911);
  filter: drop-shadow(0 0 30px #333);
}

/* Help button positioning */
.helpButton{
  padding-left: 3vh;
}

/*settings for help drop down display */
.help {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

/* Drop down box animation settings */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* Help drop down box content settings */
.helpContent{
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.6s;
  animation-name: animatetop;
  animation-duration: 0.6s
}

/*Label settings for the drop down help display*/
.helpContent label{
  color: aliceblue;
  list-style-type: none;
  margin: 0;
  width: 100%;
  padding: 0;
  overflow: hidden;
  border: 3px solid #4f57c0;
  filter: drop-shadow(0 0 30px #4f57c0);
  background-color:#4f57c0;
}

/* Help drop down video settings */
.helpVideo{
  margin: auto;
  padding: 70px 0;
  width: 100%;
  height: 240px
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

/*close hover and focus settings for the help display*/
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*the settings for most of the interfaces buttons are set*/
.button {
  background-color: #4f57c0; 
  border: none;
  color: white;
  padding: 15px 32px;
  width: 20vh;
  text-align: center;
  height: 7vh;
  margin: auto;
  margin-left: 5px;
  display: inline;
}

/*Settings for confirmation buttons */
.buttonGreen{
  background-color: #76be64;
}

/*Settings for cancelation buttons */
.buttonRed{
  background-color: #c55858;
}

/* Smaller interction buttons used on the teachers interface*/
.teacherInteractionBoxTitle{
  background-color: #4f57c0; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  height: 6vh;
  margin: auto;
  display: block;
}

/*page display settings so that the page works with mobile devices*/
@media screen and (max-width: 850px) {
  .loginBoxSettings{
    color: aliceblue;
    filter: none;
    background-color: rgb(65, 61, 61);
    border-radius: 15px;
    width: 100%;
    padding: 70px 0;
    border: 3px solid rgb(65, 61, 61);
  }

  /*Class posts are set to maximum width*/
  .classPosts{
    padding: none;
    width: 100%;
  }

  /*help displays are set to maximum width*/
  .helpContent{
    width: 100%;
    padding: 0px;
  }

  /*login box position is moved*/
  .loginBoxPos{
    padding-top: 20%;
  }

  /*Buttons are set to be more accessible when the resolutions are set to mobile devices*/
  .button{
    padding: 7px 16px;
    height: 6vh;
    margin: auto;
    margin-bottom: 5px;
    display: block;
    width: 100%;
  }
  .centerPosClass{
    margin: none;
  }
  .expandButton{
    float: left;
  }
  body{
    background-color: rgb(65, 61, 61);
  }
  
}


/* The navbar title settings which help display the first and last name of the user*/
.navBarTitle{
  color:  aliceblue;
  display: inline-block;
  padding: 14px 16px;

}

/*navigation bar setting used on nearly every page*/
.NavBar{
  list-style-type: none;
  margin: auto;
  width: 100%;
  padding: 0;
  overflow: hidden;
  border: 3px solid #4f57c0;
  filter: drop-shadow(0 0 30px #4f57c0);
  background-color:#4f57c0;
  border-radius: 10px;
  
}

/*the links used for navigation have there own visual settings*/
.NavBar a{
  display: block;
  color: white;
  margin: auto;
  text-align: center;
  padding-top: 1.9em;
  text-decoration: none;
  size: 7em;
  width: 100%;
  height: 3em;
}

/*the links in the navbar have alternative settings for cursor hovering */
.NavBar a:hover {
  color:black;
	background-color: white;
}

/*The settings for the displayed text used in the navigation bar */
.NavBar p{
  display:block;
  color: white;
  text-align: center;
  padding-top: 1.9em;
  margin:auto;
  text-decoration: none;
  size: 7em;
  width: 100%;
  height: 3em;
}

/*The settings for the text inputs */
.textInput{
  display:block;
  margin: auto;
  width: 90%;
  height: 5em;
  font-size: 18px;
}

/*Settings used to hide the contents of the page */
.classAddStyle{
  visibility: hidden;
}

/*center position settings for page content*/
.centerPosClass{
  padding-top: 5%;
  margin: auto;
  width: 80%;
  
}

/*settings for individual class posts */
.classPosts{
  margin-top: 5em;
  border: 3px solid rgba(255, 255, 255, 0.911);
  border-radius: 10px;
  color: black;
  background-color: rgba(255, 255, 255, 0.911);
  filter: drop-shadow(0 0 30px #333);
}

/*seperator settings for individual class posts */
.classPostSeperator{
  padding-top: 5em;
}

/*outlining settings for individual class posts*/
.classOutliner{
  background-color:rgba(255, 255, 255, 0.808);
  outline-color: antiquewhite;
  filter: drop-shadow(0 0 2px #333);
}

/*expand button's settings */
.expandButton{
  float: right;
}

/*settings to hide the contents of the displayed page*/
.hidePost{
  display: none;
}

/*settings for the post title*/
.classTitle{
  font-size: 2em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/*settings for the post description */
.classPostTitle{
  color: #111;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.3em;
}

/*settings for the post descripion */
.classPostDescription{
  color: #111;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 19px;
}

/*settings for the download links*/
.classPostDownloadable{
  color: #111;
  font-size: 0.8em;
}

/*settings for inline display of class content*/
.displayInline{
  display:inline-block;
}

/*all paragraph settings*/
p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 19px;
}